# --- Lixo do Python ---
__pycache__/
*.py[cod]
*$py.class

# --- Ambientes Virtuais ---
.venv/
venv/
.env

# --- Banco de Dados ---
*.db
*.sqlite3
*.sqlite3-journal

# --- Ansible ---
*.retry
.ansible

# --- IDE ---
.vscode/
.idea/